
body {
    background-color: #cccccc 
}

#foto1 {
    width: 100%;
    }


p { text-align: justify

}

strong {
    color: rgb(20, 70, 238);
}

.itens {
    font-style: italic
    
}

.imagemmapa {width: 50% ;}