
body {
    background-color: #cccccc 
}

#foto1 {
    width: 100%;
    }


p { text-align: justify

}

h2 {
    text-align: center;
}

strong {
    color: rgb(20, 70, 238);
}

.itens {
    font-style: italic
    
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagemmapa {width: 50% 

}